<div class="container-fluid">
    <div class="container main-container">
        <form>
            <div class="col-md-8">
                <h2>
                    Current Schedule
                </h2>
                <hr/>
                 <div class="panel-body form-horizontal current-schedule">
                   
                   <div class="row">
                    <div class="col-xs-3">Monday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="monday_to" />
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="monday_from"/>
                          
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-xs-3">Tuesday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="tuesday_to"/>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="tuesday_from" />
                          
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-xs-3">Wednesday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="wednesday_to" />
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="wednesday_from"/>
                         
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-xs-3">Thursday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="thursday_to"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="thursday_from"/>
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-xs-3">Friday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="friday_to"/>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="friday_from" />
                          
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-xs-3">Saturday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="saturday_to" />
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="saturday_from" />
                          
                        </div>
                      </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-xs-3">Sunday</div>
                    <div class="col-xs-2"><input type="checkbox" class="js-switch"  /></div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="sunday_to"/>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-center">to</div>
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class='input-group date' >
                          <input type='text' class="form-control" id="sunday_from"/>
                          
                        </div>
                      </div>
                    </div>
                   </div>
               

                

                <div class="clearfix">
                <hr>
                <div class="col-md-6 n">
                    <div class="form-group">
                        <label for="s1">Timezone</label>
                        <select class="form-control" id="s1">
                            <option value="Apple fritter">
                                America/New York (GMT -0400)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                  <label>
                    <input type="checkbox"> Immediately
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> In the future
                  </label>
                </div>
                </div>



                </div>
                <hr>
                    <div class="form-group">
                        <div class="text-right">
                         <a href="2business_hour.html" class="btn prev_btn">
                                 Cancel
                            </a>
                            <a href="4service.html" class="btn next_btn">
                                 Save
                            </a>
                        </div>
                    </div>
                </hr>
            </div>
        </form>
    </div>
</div>
