<div class="container-fluid">
    <div class="container main-container">
        <form>
            <div class="col-md-12">
                <h2>
                    Appointment Setting
                </h2>
                <hr>
                <div class="col-md-12">
              
               
                    <div class="form-group">
                        <label for="concept" class="col-sm-6 control-label">Can client book service at once</label>
                        <div class="col-sm-6">
                            <div class="form-group">
<input type="checkbox" class="js-switch"  />
</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-6 control-label">How much notice of online booking</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">Show last minute availability</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">How much notice for cancellation</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">Send text message when client is online</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">Send my text message to this number</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">Send my text message between the hour of</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    
                
          
                    <div class="clearfix">
                    </div>
                    <hr>
                       <div class="form-group">
                        <div class="text-right">
                         <a href="2business_hour.html" class="btn prev_btn">
                                 Cancel
                            </a>
                            <a href="4service.html" class="btn next_btn">
                                 Save
                            </a>
                        </div>
                    </div>
                    </hr>
                </div>
            </div>
        </form>
    </div>
</div>
