<div class="container-fluid">
    <div class="container main-container">
        
        <form>
        <div class="col-md-12" >
        <h2>
            Manage Photos
        </h2>
        <hr/>

        <div class="col-md-3 photo-gallery">
             <div class="col-md-12"><span class="img-caption"></span><img class="img-responsive"  src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
        </div>
        <div class="col-md-9 photo-gallery" >
            <div class="col-md-4"><span class="img-caption"></span><img class="img-responsive"  src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
            <div class="col-md-4"><span class="img-caption"></span><img class="img-responsive" src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
            <div class="col-md-4"><span class="img-caption"></span><img class="img-responsive" src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
            <div class="col-md-4"><span class="img-caption"></span><img class="img-responsive"  src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
            <div class="col-md-4"><span class="img-caption"></span><img class="img-responsive" src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
            <div class="col-md-4"><span class="img-caption"></span><img class="img-responsive" src="http://dummyimage.com/300x300/000/fff.png" alt=""></div>
        </div>
            
           
 <div class="clearfix"></div>
            <hr>

           <div class="form-group">
                        <div class="text-right">
                         <a href="2business_hour.html" class="btn prev_btn">
                                 Cancel
                            </a>
                            <a href="4service.html" class="btn next_btn">
                                 Save
                            </a>
                        </div>
                    </div>
       </div>
        </form>

    </div>
</div>
