<div class="container-fluid">
    <div class="container main-container">
        
        <form>
        <div class="col-md-12" >
        <h2>
            Client Communication
        </h2>
                    <div class="col-md-8">
                <h4>Client Scheduling Notification</h4>
                <div class="form-group">
<input type="checkbox" class="js-switch"  />
</div>
<small>Whenever you book, rechedule or cancel a client appointment we'll send an email.</small>

<h4>Client Appointment Reminder</h4>
  <input type="checkbox" class="js-switch"  />
</div>
     
<h4>Text Message setting</h4>   
<p>Text message reminder <input type="text" /> Hours before appointment</p>    

<h4>Email setting</h4>   
<p>Send Email <input type="text" /> Hours before appointment</p>    
           
 <div class="clearfix"></div>
            <hr>

            
         <div class="form-group">
                        <div class="text-right">
                         <a href="2business_hour.html" class="btn prev_btn">
                                 Cancel
                            </a>
                            <a href="4service.html" class="btn next_btn">
                                 Save
                            </a>
                        </div>
                    </div>
       </div>
        </form>
</div>
    </div>
</div>
