<div class="container-fluid">

    
   <div class="container wizard-container">
    
        
            <div class="row bs-wizard">
                
                <div class="col-xs-2 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Welcome</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Business Hours</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step current"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Staff</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Service</div>
                </div>
                 <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Pricing</div>
                </div>
                 <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Done</div>
                </div>
            </div>

            <div class="wizard-inner row" style="background-image: url('images/staff_bg.jpg')">
                  <div class="col-md-9 col-md-offset-3">
                    <h1 class="title">Add your Staff</h1>
                    <h5>Don’t worry - You can edit this later.</h5>
                    <hr />

                    
                <div class="panel-body form-horizontal">
                   
                 <div class="row text-center">
                  <div class="col-xs-4">
                    <div class="staff-box">
                      <img style="background-image: url('images/profile1.jpg')" class="staff-profile-pic" />
                      <h4>Prabha Iyer</h4>
                      <small>prabs10@gmail.com</small>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="staff-box">
                      <img style="background-image: url('images/profile2.jpg')" class="staff-profile-pic" />
                      <h4>Ankur Dutta</h4>
                      <small>pankurd3@gmail.com</small>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="staff-box">
                      <img style="background-image: url('images/profile3.jpg')" class="staff-profile-pic" />
                      <h4>Anurag Chatterjee</h4>
                      <small>anuragcse007@gmail.com</small>
                    </div>
                  </div>
                 </div>

                 <div class="row staff-add-box">
                  <div class="col-xs-3">
                    <img style="background-image: url('images/profile1.jpg')" class="staff-profile-pic" />
                    <a href="#" class="text-center">Upload Profile Pic</a>
                  </div>
                  <div class="col-xs-7">
                    <div class="col-sm-12 form-group">
                            <input style="margin-top: 10px" type="text" ng-model="dashboard.staffName" class="form-control" placeholder="Enter Staff Name...">
                        </div>
                        <div class="col-sm-12 form-group">
                            <input type="text" class="form-control" placeholder="Enter Mail ID..." ng-model="dashboard.staff_email" >
                        </div>
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn add_btn" style="margin-top:50px">
                                 Add
                            </button>
                  </div>
                 </div>
                  
                   
<hr>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                         <button class="btn prev_btn" ng-click="goToDashboardStep2()">
                                 Prev
                            </button>
                            <button class="btn next_btn" ng-click="goToDashboardStep4()">
                                 Next
                            </button>
                        </div>
                    </div>
                   
                    
                </div>

                  
            </div>
        
        
        
        
        
  </div>
</div>
</div>
