<div class="container-fluid">

    
   <div class="container wizard-container">
    
        
            <div class="row bs-wizard">
                
                <div class="col-xs-2 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Welcome</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Business Hours</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Staff</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step complete"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Service</div>
                </div>
                 <div class="col-xs-2 bs-wizard-step current"><!-- active -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Pricing</div>
                </div>
                 <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Done</div>
                </div>
            </div>

            <div class="wizard-inner row" style="background-image: url('images/time_bg.jpg')">
                  <div class="col-md-9 col-md-offset-3">
                    <h1 class="title">Price and Duration of service at Aarna Beauty</h1>
                    <h5>Don’t worry - You can edit this later.</h5>
                    <hr />

                    
                <div class="panel-body form-horizontal" border-space="0">
                    
                   <table class="table pricing_table">  
                    <thead> 
                      <tr> 
                        <th class="service_head" width="40%">Service</th> 
                        <th class="duration_price_head" width="15%">Duration</th> 
                        <th class="duration_price_head" width="15%">Price</th> 
                        <!--
                        <th class="staff_head">Prabha</th> 
                        <th class="staff_head">Ankur</th> 
                        -->
                        <th class="staff_head" ng-repeat="stylist in dashboard.stylistList">{{stylist.firstName}}</th>
                      </tr> 
                    </thead> 
                    <tbody> 
                        <tr ng-repeat="service in serviceFlatten | filter:{isChosen:true}">
                            <td class="service_body">{{service.name}}</td> 
                            <td class="duration_price_body"><input type="text" class="form-control" ng-model="service.price"/></td> 
                            <td class="duration_price_body"><input type="text" class="form-control" ng-model="service.duration"/></td> 
                            <td class="staff_body" ng-repeat="stylist in service.stylists">
                                <input type="checkbox" ng-model="stylist.isEnabled"/>{{stylist.stylistDetails.firstName}}
                            </td>
                        </tr>
                      <!--
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      <tr> 
                        <td class="service_body">Swedish Massage Therapy</th> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="duration_price_body"><input type="text" class="form-control" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td> 
                        <td class="staff_body"><input type="checkbox" /></td>                        
                      </tr> 
                      -->
                    </tbody> 
                  </table>
                    
                  <hr >
                   

                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                         <button class="btn prev_btn" ng-click="goToDashboardStep4()">
                                 Prev
                            </button>
                            <button href="6thankyou.html" class="btn next_btn" ng-click="goToDashboardStep6()">
                                 Next
                            </button>
                        </div>
                    </div>
                   
                    
                </div>

                  
            </div>
        
        
        
        
        
  </div>
</div>