<script type="text/javascript" src="js/function.js"></script>   
<div class="container-fluid">

    
   <div class="container wizard-container">
    
        
            <div class="row bs-wizard">
                
                <div class="col-xs-2 bs-wizard-step complete">
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Welcome</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step current"><!-- complete -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Business Hours</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Staff</div>
                </div>
                
                <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                 
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Service</div>
                </div>
                 <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Pricing</div>
                </div>
                 <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                  
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"> Done</div>
                </div>
            </div>

            <div class="wizard-inner row" style="background-image: url('images/bh_bg.jpg')">
                  <div class="col-md-9 col-md-offset-3">
                    <h1 class="title">Set your Business Hours</h1>
                    <h5>Let yur customer know when you are open</h5>
                    <hr />

                    
                <div class="panel-body form-horizontal">
                    <div layout="row" ng-repeat="saloonDay in dashboard.saloonWeekScheduleDTOs">
                        <div flex>
                           <b>{{weekDays[$index].value}}</b> 
                        </div>
                        <div flex>
                            <md-switch class="md-primary" ng-model="saloonDay.isavailable">
                            </md-switch>
                        </div>
                        <div flex>
                            <ng-timepicker theme="blue" ng-model="saloonDay.fromTime" show-meridian="true"></ng-timepicker>
                        </div>
                        <div flex>
                            <ng-timepicker theme="blue" ng-model="saloonDay.toTime" show-meridian="true"></ng-timepicker>
                        </div>
                    </div>
                   <!--div class="row" ng-repeat="saloonDay in dashboard.saloonWeekScheduleDTOs">
                       <div class="col-xs-3">{{weekDays[$index].value}}</div>
                        <div class="col-xs-2">
                        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="saloonDay.isavailable">
                        </md-switch>
                            <label class="switch">
                            <input type="checkbox" ng-model="saloonDay.isavailable" checked><i></i></label>
                        </div>
                        <div class="col-xs-3">
                          <div class="form-group">
                            <div class='input-group date' >
                              <ng-timepicker theme="blue" ng-model="saloonDay.fromTime" show-meridian="true"></ng-timepicker>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-1 text-center">to</div>
                        <div class="col-xs-3">
                        <div class="form-group">
                            <div class='input-group date' >
                              
                              <ng-timepicker theme="blue" ng-model="saloonDay.toTime" show-meridian="true"></ng-timepicker>
                            </div>
                          </div>
                        </div>
                       </div-->
                   </div>
         
<hr>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                          <button class="btn prev_btn" ng-click="goToDashboardStep1()">
                            Prev
                          </button>
                          <button class="btn next_btn" ng-click="goToDashboardStep3()">
                               Next
                          </button>
                        </div>
                    </div>
                   
                    
                </div>

                  
            </div>        
  </div>
</div>
</div>