<!--
<div layout="column" md-colors="{background : 'TEAL-50'}">
  <md-toolbar md-colors="{background : 'TEAL-500'}" class="md-padding">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Settings</h2>
    </div>
  </md-toolbar>
  <md-content class="md-padding" md-colors="{background : 'TEAL-50'}">
      <div layout="column">
          <div flex>
              <md-input-container class="md-block" flex-gt-xs>
                    <label>How far in advance a client can book?</label>
                  <md-select ng-model="maxAdvanceBookTime">
                      <md-option ng-repeat="time in timeStamps" value="{{time.value}}">
                          {{time.option}}
                      </md-option>
                  </md-select>
                  
              </md-input-container>
          </div>
      </div>
  </md-content>
</div>
-->
<div class="container-fluid">
    <div class="container main-container">
        <form>
            <div class="col-md-12">
                <h2>
                    Setting
                </h2>
                <hr>
                <div class="col-md-12">
              
               
                    <div class="form-group">
                        <label for="bookingOpenTime" class="col-sm-6 control-label">How far in advance can clients book?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="settings.bookingOpenTime">
                                    <option ng-repeat="time in timeStamps" value="{{time.value}}">{{time.option}}</option>
                                </select>
                            </div>
                        </div>
                       
                    </div>
                     <div class="form-group">
                        <label for="bookingLeadTime" class="col-sm-6 control-label">Booking leadtime for appointments</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="settings.maxLeadTime">
                                    <option ng-repeat="time in timeStamps" value="{{time.value}}">{{time.option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="description" class="col-sm-6 control-label">How much notice for cancelation</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="settings.maxCancelTime">
                                    <option ng-repeat="time in timeStamps" value="{{time.value}}">{{time.option}}</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">Are you the only staff</label>
                        <div class="col-sm-6 form-group">
                            <label class="switch"><input type="checkbox" ng-model="settings.isOnlyStaff"><i></i></label>
                        </div>
                    </div>
                    <div class="form-group" ng-if="! settings.isOnlyStaff">
                        <label for="amount" class="col-sm-6 control-label">Number Of Stuff</label>
                        <div class="col-sm-6 form-group">
                            <select class="form-control" id="settings.noOfStaff">
                                    <option ng-repeat="n in numberOfPeople" value="{{n}}">{{n}}</option>
                            </select>
                        </div>
                    </div>
          
                    <div class="clearfix">
                    </div>
                    <hr>
                       <div class="form-group">
                        <div class="text-right">
                         <a href="2business_hour.html" class="btn prev_btn">
                                 Cancel
                            </a>
                            <a href="4service.html" class="btn next_btn">
                                 Save
                            </a>
                        </div>
                    </div>
                    </hr>
                </div>
            </div>
        </form>
    </div>
</div>
