<div class="row bs-wizard">
                
  <div class="col-xs-2 bs-wizard-step current">
    
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center">Welcome</div>
  </div>
  
  <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
    
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center">Business Hours</div>
  </div>
  
  <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
   
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center">Staff</div>
  </div>
  
  <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
   
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center">Service</div>
  </div>
   <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
    
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"> Pricing</div>
  </div>
   <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
    
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"> Done</div>
  </div>
</div>
